<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="../vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <report>
            <html outputDirectory="./codecoverage/html" lowUpperBound="50" highLowerBound="80"/>
            <xml outputDirectory="./codecoverage/xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="php-sports-import">
            <directory suffix=".php">cases</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <source>
        <include>
            <directory suffix=".php">../domain</directory>
        </include>
    </source>
</phpunit>